body{
	margin:0;
	padding: 20px;
	font-size: 100%,
}
.nav{
	width: 50000px;
	height: 500px;
	margin: 0 0;
	background-image: url("fisi.png");
	border-image: cover;
	background-position: cover;
}
.nav a{
	color: purple;
	text-decoration: none;
	font-size: 25px;
	text-transform: uppercase;}
/*link pseudo class selectors*/
 	a:visited{color:green;}
	a:hover{color:pink;}
	a:focus{color:red;}
	a:active{color:yellow;}
}

.nav li{
	list-style: none;
	float: left;
	display: inline;
	padding: 0 15px 0 15px;
}
.footer2{
	width: 1500px;
	height: 100px;
	background-color: grey;
	background-position: center;
}
/*id selectors*/
#header,#footer{
	background-position: cover;
	color: blue;
}